<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="test2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="test2.Properties.Settings.Dbxuser" connectionString="Data Source=10.28.32.122;Initial Catalog=DBx;User ID=apcsuser;Password=apcsuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <test2.Properties.Settings>
            <setting name="McNo" serializeAs="String">
                <value>FL-FFL-02</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>Ver 1.0.0</value>
            </setting>
            <setting name="McType" serializeAs="String">
                <value>FICO_FCL</value>
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value>FL</value>
            </setting>
            <setting name="LayNo" serializeAs="String">
                <value>075</value>
            </setting>
        </test2.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceiLibrary" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webserv.thematrix.net/iLibraryService/ServiceiLibrary.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceiLibrary"
                contract="WebServiceAPCS.IServiceiLibrary" name="BasicHttpBinding_IServiceiLibrary" />
        </client>
    </system.serviceModel>
</configuration>
